.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grass-color);
  height: 400px;
  width: 300px;
  border-radius: 12px;
  margin: auto;
  text-align: center;
}

.card__title {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-base) var(--spacing-base) 0px var(--spacing-base);
}

.card__image-wrapper {
  position: absolute;
  height: 150px;
  left: 0;
  right: 0;
  top: -100px;
}

.card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-mini);

  margin: 0px var(--spacing-xtiny) var(--spacing-xtiny) var(--spacing-xtiny);
  border-radius: 8px;
  padding: 56px var(--spacing-mini) var(--spacing-mini) var(--spacing-mini);

  background-color: var(--white);
}

.card__content__types {
  color: var(--white);
  display: flex;
  justify-content: center;
  gap: var(--spacing-mini);
}

.card__content__types__pills {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-l);
  border-radius: 10px;
  padding: var(--spacing-xtiny) var(--spacing-tiny);
}

.card__content__types__pill--grass {
  background-color: var(--grass-color);
}

.card__content__types__pill--poison {
  background-color: var(--poison-color);
}

.card__content__about {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-l);
  color: var(--grass-color);
}

.card__content__measures__data {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

.card__content__measures__data-name {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--medium-gray);
}

hr {
  color: var(--light-gray);
  margin: 0px var(--spacing-base);
}

.card__content__description {
  text-align: justify;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}

.card__content__measures {
  display: flex;
  justify-content: center;
}
