html {
  font-family: "Poppins", sans-serif;
}

:root {
  --font-size-xs: 10px;
  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 24px;

  --line-height-m: 16px;
  --line-height-l: 32px;

  --font-weight-m: 400;
  --font-weight-l: 700;

  --spacing-xtiny: 4px;
  --spacing-tiny: 8px;
  --spacing-small: 12px;
  --spacing-mini: 16px;
  --spacing-base: 24px;
  --spacing-medium: 32px;
  --spacing-large: 48px;

  --rock-color: #b69e31;
  --ghost-color: #70559b;
  --steel-color: #b7b9d0;
  --water-color: #6493eb;
  --grass-color: #74cb48;
  --psychic-color: #fb5584;
  --ice-color: #9ad6df;
  --dark-color: #75574c;
  --fairy-color: #e69eac;
  --normal-color: #aaa67f;
  --fighting-color: #c12239;
  --flying-color: #a891ec;
  --poison-color: #a43e9e;
  --ground-color: #dec16b;
  --bug-color: #a7b723;
  --fire-color: #f57d31;
  --electric-color: #f9cf30;
  --dragon-color: #7037ff;

  --dark-gray: #212121;
  --medium-gray: #666666;
  --light-gray: #e0e0e0;
  --white: #ffffff;
  --background: #f7f7f7;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grass-color);
  height: 400px;
  width: 300px;
  border-radius: 12px;
  margin: auto;
  text-align: center;
}

.card__title {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-base) var(--spacing-base) 0px var(--spacing-base);
}

.card__image-wrapper {
  position: absolute;
  height: 150px;
  left: 0;
  right: 0;
  top: -100px;
}

.card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-mini);

  margin: 0px var(--spacing-xtiny) var(--spacing-xtiny) var(--spacing-xtiny);
  border-radius: 8px;
  padding: 56px var(--spacing-mini) var(--spacing-mini) var(--spacing-mini);

  background-color: var(--white);
}

.card__content__types {
  color: var(--white);
  display: flex;
  justify-content: center;
  gap: var(--spacing-mini);
}

.card__content__types__pills {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-l);
  border-radius: 10px;
  padding: var(--spacing-xtiny) var(--spacing-tiny);
}

.card__content__types__pill--grass {
  background-color: var(--grass-color);
}

.card__content__types__pill--poison {
  background-color: var(--poison-color);
}

.card__content__about {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-l);
  color: var(--grass-color);
}

.card__content__measures__data {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
}

.card__content__measures__data-name {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--medium-gray);
}

hr {
  color: var(--light-gray);
  margin: 0px var(--spacing-base);
}

.card__content__description {
  text-align: justify;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
}

.card__content__measures {
  display: flex;
  justify-content: center;
}
