html {
  font-family: "Poppins", sans-serif;
}

:root {
  --font-size-xs: 10px;
  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 24px;

  --line-height-m: 16px;
  --line-height-l: 32px;

  --font-weight-m: 400;
  --font-weight-l: 700;

  --spacing-xtiny: 4px;
  --spacing-tiny: 8px;
  --spacing-small: 12px;
  --spacing-mini: 16px;
  --spacing-base: 24px;
  --spacing-medium: 32px;
  --spacing-large: 48px;

  --rock-color: #b69e31;
  --ghost-color: #70559b;
  --steel-color: #b7b9d0;
  --water-color: #6493eb;
  --grass-color: #74cb48;
  --psychic-color: #fb5584;
  --ice-color: #9ad6df;
  --dark-color: #75574c;
  --fairy-color: #e69eac;
  --normal-color: #aaa67f;
  --fighting-color: #c12239;
  --flying-color: #a891ec;
  --poison-color: #a43e9e;
  --ground-color: #dec16b;
  --bug-color: #a7b723;
  --fire-color: #f57d31;
  --electric-color: #f9cf30;
  --dragon-color: #7037ff;

  --dark-gray: #212121;
  --medium-gray: #666666;
  --light-gray: #e0e0e0;
  --white: #ffffff;
  --background: #f7f7f7;
}

.card-background-color--rock {
  background-color: var(--rock-color);
}
.card-background-color--ghost {
  background-color: var(--ghost-color);
}
.card-background-color--steel {
  background-color: var(--steel-color);
}
.card-background-color--water {
  background-color: var(--water-color);
}
.card-background-color--grass {
  background-color: var(--grass-color);
}
.card-background-color--psychic {
  background-color: var(--psychic-color);
}
.card-background-color--ice {
  background-color: var(--ice-color);
}
.card-background-color--dark {
  background-color: var(--dark-color);
}
.card-background-color--fairy {
  background-color: var(--fairy-color);
}
.card-background-color--normal {
  background-color: var(--normal-color);
}
.card-background-color--fighting {
  background-color: var(--fighting-color);
}
.card-background-color--flying {
  background-color: var(--flying-color);
}
.card-background-color--poison {
  background-color: var(--poison-color);
}
.card-background-color--ground {
  background-color: var(--ground-color);
}
.card-background-color--bug {
  background-color: var(--bug-color);
}
.card-background-color--fire {
  background-color: var(--fire-color);
}
.card-background-color--electric {
  background-color: var(--electric-color);
}
.card-background-color--dragon {
  background-color: var(--dragon-color);
}

.card-color--rock {
  color: var(--rock-color);
}
.card-color--ghost {
  color: var(--ghost-color);
}
.card-color--steel {
  color: var(--steel-color);
}
.card-color--water {
  color: var(--water-color);
}
.card-color--grass {
  color: var(--grass-color);
}
.card-color--psychic {
  color: var(--psychic-color);
}
.card-color--ice {
  color: var(--ice-color);
}
.card-color--dark {
  color: var(--dark-color);
}
.card-color--fairy {
  color: var(--fairy-color);
}
.card-color--normal {
  color: var(--normal-color);
}
.card-color--fighting {
  color: var(--fighting-color);
}
.card-color--flying {
  color: var(--flying-color);
}
.card-color--poison {
  color: var(--poison-color);
}
.card-color--ground {
  color: var(--ground-color);
}
.card-color--bug {
  color: var(--bug-color);
}
.card-color--fire {
  color: var(--fire-color);
}
.card-color--electric {
  color: var(--electric-color);
}
.card-color--dragon {
  color: var(--dragon-color);
}
